@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root{
    --primary-color: rgba(238, 137, 104, 1);
    --secondary-color: rgba(48, 47, 78, 1);
    --tertiary-color: rgba(250, 217, 148, 1);
    --sombreado: 5px 5px 3px rgb(29, 28, 28);
}

body{
    background-color: var(--secondary-color);
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}
/* Estilos del header --------------------------------------- */
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
/* Estilos logo header --------------------------------------- */
header img{
    width: 65%;
    margin: 0.625rem;
    cursor: pointer;
}
/* Estilos navegacion header --------------------------------- */
header nav{
    display: flex;
    justify-content: center;
    grid-column: 3 / 3;
}
header nav ul{
    margin-top: 5vh;
    display: flex;
    grid-column: 2 / 4;
}
header nav ul li{
    list-style: none;
    padding: 0 10px;
}
header nav ul li a:hover{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: 0.5s;
    cursor: pointer;
}
header nav ul li a{
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.5em;
    border-radius: 10px;
    transition: 0.5s;
}
/* Estilos iconos header --------------------------------- */
header #iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    grid-column: 5/ -1;
}
header a i{
    padding: 7px;
    border-radius: 10px;
    margin-top: 3.125rem;
    scale: 2;
    margin-right: 1.875rem;
    color: var(--primary-color);
    transition: 0.5s;
}
header a i:hover{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: 0.5s;
}
/* Estilos main pagina inicio ------------------------------- */
main{
    min-height: 100vh;
    position: relative;
}
/* Estilos carrousel main ----------------------------------- */
main #carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
}
main #carrousel img{
    width: 80vh;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: var(--sombreado);
}
/* Estilos bienvenida ---------------------------------------- */
#bienvenida h1{
    display: flex;
    justify-content: center;
    margin-top: 6.25rem;
}
/* Estilos relleno ------------------------------------------- */
#relleno {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 0.2fr);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    }
#relleno img{
    width: 18.75rem;
    border-radius: 5px;
    box-shadow: var(--sombreado);
}

.div1 { grid-area: 2 / 4 / 4 / 5; }
.div2 { grid-area: 4 / 3 / 5 / 4; }
.div3 { grid-area: 4 / 2 / 5 / 3; }
.div4 { grid-area: 2 / 2 / 4 / 3; }
.div5 { grid-area: 4 / 3 / 5 / 4; }
.div6 { grid-area: 4 / 4 / 5 / 5; }
.div7 { grid-area: 3 / 3 / 4 / 4; }
#contenido-relleno{ 
    grid-area: 5 / 2 / -1 / 5;
    text-align: center; 
}
#contenido-relleno i{
    scale: 2;
    padding: 10px;
}
#contenido-relleno a{
    text-decoration: none;
    border-radius: 5px;
    color: var(--primary-color);
    padding: 5px;
    transition: 0.5s;
}
#contenido-relleno a:hover{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: 0.5s;
}
/* Estilos presentacion ----------------------------------------- */
main #presentacion{
    display:grid;
    grid-template-columns: 1fr 1fr 0.4fr;
    margin-top: 1.25rem;
    place-items: center;
}
#presentacion img{
    width: 17.5rem;
    border-radius: 5px;
    box-shadow: var(--sombreado);
}
/* Estilos newsletter ------------------------------------------- */
#newsletter{
    display: grid;
    grid-area: 1 / 1 / 1 / 2;
    justify-content: center;
    margin-top: 1.25rem;
}
#newsletter input[type="email"]{
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#newsletter input[type="submit"]{
    width: 27%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: 0.5s;
}
#newsletter input[type="submit"]:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.5s;
}

/* Estilos main paginas productos ----------------------------------- */ 
.products-text{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    font-size: 1.5em;
}
.products-sort{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    margin-bottom: 3rem;
}
.products-sort select, .products-sort button{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-top: 0.5rem;
    transition: 0.5s;
}
.products-sort button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
}
#contenido-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    font-family: 'Roboto Mono', monospace;
}
#contenido-productos  img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
#contenido-productos h2, #contenido-productos p{
    text-align: center;
    transition: 0.5s;
}
#contenido-productos h2:hover, #contenido-productos p:hover{
    color: var(--tertiary-color);
    transition: 0.5s;
    cursor: pointer;
}
.producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    margin-bottom: 3rem;
}
.producto >img{
    width: 60%;
    border-radius: 5px;
    box-shadow: var(--sombreado);
    transition: 0.5s;
}
/* Estilos main pagina de cada producto ----------------------------- */
.solo-producto{
    font-family: 'Roboto Mono', monospace;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.25rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.solo-producto img{
    border-radius: 5px;
    box-shadow: var(--sombreado);
}
.solo-producto #anadir-carrito{
    margin-top: 1.25rem;
    margin-bottom: 3rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.5s;
}
.solo-producto #anadir-carrito:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
}
.solo-producto #talla{
    margin-top: 1.25rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.5s;
}
.solo-producto #talla:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
}
/* Estilos main Carrito -------------------------------------------- */
.carrito-text{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    font-size: 1.5em;
}
.carrito-productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    font-family: 'Roboto Mono', monospace;
    margin-top: 1.25rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.carrito-total{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}
.carrito-total button{
    width: 20em;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.5s;
}
.carrito-total button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
}
.carrito-total button:active{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    box-shadow: var(--sombreado);
    cursor: pointer;
}
.lista-carrito{
    list-style: none;
}
.carrito-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    margin-bottom: 3rem;
}
.carrito-producto img{
    width: 60%;
    border-radius: 5px;
    box-shadow: var(--sombreado);
    transition: 0.5s;
}
.carrito-producto-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    margin-bottom: 3rem;
}
.carrito-producto-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    margin-bottom: 3rem;
}
.carrito-producto-text input[type="number"]{
    text-align: center;
    margin-bottom: 1rem;
    width: 3em;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.5s;
}
.carrito-producto-text button{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.5s;
}
.carrito-producto-text button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
}
.carrito-producto-eliminar button{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.5s;
}
.carrito-producto-eliminar button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
}
.carrito-producto-text button:active, .carrito-producto-eliminar button:active{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    box-shadow: var(--sombreado);
    cursor: pointer;
}
/* Estilos main login ---------------------------------------------- */
.login-text{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    font-size: 1.5em;
}
.login-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.login-form form input{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 20em;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.5s;
}
.login-form form input:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
}
.login-form form input:active{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    box-shadow: var(--sombreado);
    cursor: pointer;
}
.login-form form button{
    width: 20em;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.5s;
}
.login-form form button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
}
.login-form form button:active{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    box-shadow: var(--sombreado);
    cursor: pointer;
}
.login-form p{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.2em;
}
.login-form p a{
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}
.login-form p a:hover{
    color: var(--tertiary-color);
    text-decoration: underline;
    transition: 0.5s;
}
/* Estilos main registro ---------------------------------------------- */
.registro-text{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    font-size: 1.5em;
}
.registro-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}   
.registro-form form input{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 20em;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.5s;
}
.registro-form form input:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
}
.registro-form form input:active{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    box-shadow: var(--sombreado);
    cursor: pointer;
}
.registro-form form button{
    width: 20em;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.5s;
}
.registro-form form button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
}
.registro-form form button:active{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    box-shadow: var(--sombreado);
    cursor: pointer;
}
.registro-form p{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.2em;
}
.registro-form p a{
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}
.registro-form p a:hover{
    color: var(--tertiary-color);
    text-decoration: underline;
    transition: 0.5s;
}
/* Estilos footer -------------------------------------------------- */
footer{
    background-color: rgb(29, 28, 28);
    height: 9.375rem;
    font-family: 'Roboto Mono', monospace;
}
#contenido-footer{
    margin: 1.875rem;
}
#contenido-footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    margin-top: 0.625rem;
}
.titulo-lista-footer{
    margin-top: 1.25rem;
    font-size: 1.2em;
    color: var(--primary-color);
    list-style: none;
    padding: 0 10px;
}
.contenido-lista-footer{
    font-size: 0.5em;
    color: var(--primary-color);
}
.contenido-lista-footer li{
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-lista-footer li a{
    text-decoration: none;
    border-radius: 5px;
    color: var(--primary-color);
    padding: 5px;
    transition: 0.5s;
}
.contenido-lista-footer li a:hover{
    color: black;
    background-color: var(--primary-color);
    transition: 0.5s;
}
#footer-iconos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    scale: 2;
}
#footer-redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    scale: 2;
}
/* Media query movil */
@media only screen and (max-device-width : 767px) {
    /* Estilos del header --------------------------------------- */
    /* Estilos logo header --------------------------------------- */
    header img{
        width: 150%;
    }
    /* Estilos navegacion header --------------------------------- */
    header nav{
        margin-left: 0.25em;
    }
    header nav ul li a{
        font-size: 0.25em;
    }
    /* Estilos iconos header --------------------------------- */
    header a i{
        scale: 0.5;
        margin-top: 1em;
        margin-left: -1em;
    }
    
    /* Estilos main pagina inicio ------------------------------- */
    /* Estilos carrousel main ----------------------------------- */
    main #carrousel img{
        width: 80%;
    }
    /* Estilos bienvenida ---------------------------------------- */
    #bienvenida h1{
        text-align: center;
    }
    /* Estilos relleno ------------------------------------------- */
    
    #relleno img{
        width: 7.75rem;
    }
    /* Estilos presentacion ----------------------------------------- */
    #presentacion img{
        width: 9.5rem;
    }
    #presentacion #contenido-presentacion h1{
        font-size: 1.5em;
    }
    #presentacion #contenido-presentacion p{
        font-size: 0.8em;
    }
    /* Estilos main paginas productos ----------------------------------- */ 
    .products-text{
        font-size: 1em;
    }
    #contenido-productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 0.5em;
    }
    /* Estilos main pagina de cada producto ----------------------------- */
    .solo-producto{
        font-family: 'Roboto Mono', monospace;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 1.25rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .solo-producto img{
        width: 100%;
    }
    .solo-producto-text p{
        font-size: 0.8em;
    }
    /* Estilos main Carrito -------------------------------------------- */
    .carrito-text{
        font-size: 1em;
    }
    .carrito-total{
        font-size: 0.75em;
    }
    .carrito-total button{
        width: 10em;
    }
    .carrito-producto-text{
        font-size: 0.5em;
    }
    .carrito-producto-text input[type="number"]{
        width: 10%;
        font-size: 0.8em;
    }
    /* Estilos main login ---------------------------------------------- */
    .login-text{
        font-size: 1em;
    }
    .login-form form{
        font-size: 0.5em;
    }
    .login-form form input{
        font-size: 0.5em;
        width: 30em;
    }
    .login-form form button{
        width: 10em;
    }
    .login-form p{
        font-size: 0.7em;
    }
    /* Estilos main registro ---------------------------------------------- */
    .registro-text{
        font-size: 1em;
    }
    .registro-form form{
        font-size: 0.5em;
    }   
    .registro-form form input{
        font-size: 0.5em;
        width: 30em;
    }
    .registro-form form button{
        width: 10em;
    }
    .registro-form p{
        font-size: 0.7em;
    }
    /* Estilos footer -------------------------------------------------- */
    footer{
        height: 90rem;
    }
    #contenido-footer{
        display: flex;
        justify-content: center;
    }
    #contenido-footer ul{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        flex-wrap: wrap;
    }
}

/* Media query tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Estilos del header --------------------------------------- */
    /* Estilos logo header --------------------------------------- */
    header img{
        width: 120%;
    }
    /* Estilos navegacion header --------------------------------- */
    header nav{
        margin-left: 0.25em;
    }
    header nav ul li a{
        font-size: 0.75em;
    }
    /* Estilos iconos header --------------------------------- */
    header a i{
        scale: 0.75;
        margin-top: 1em;
    }
    
    /* Estilos main pagina inicio ------------------------------- */
    /* Estilos carrousel main ----------------------------------- */
    main #carrousel img{
        width: 80%;
    }
    /* Estilos bienvenida ---------------------------------------- */
    #bienvenida h1{
        text-align: center;
    }
    /* Estilos relleno ------------------------------------------- */
    
    #relleno img{
        width: 12.75rem;
    }
    /* Estilos presentacion ----------------------------------------- */
    #presentacion img{
        width: 12.5rem;
    }
    #presentacion #contenido-presentacion h1{
        font-size: 1.5em;
    }
    #presentacion #contenido-presentacion p{
        font-size: 0.8em;
    }
    /* Estilos main paginas productos ----------------------------------- */ 
    .products-text{
        font-size: 1.25em;
    }
    #contenido-productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 0.75em;
    }
    /* Estilos main pagina de cada producto ----------------------------- */
    .solo-producto{
        font-family: 'Roboto Mono', monospace;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 1.25rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .solo-producto img{
        width: 80%;
    }
    .solo-producto-text p{
        font-size: 0.8em;
    }
    /* Estilos main Carrito -------------------------------------------- */
    .carrito-text{
        font-size: 1em;
    }
    .carrito-total{
        font-size: 0.75em;
    }
    .carrito-total button{
        width: 10em;
    }
    .carrito-producto-text{
        font-size: 0.75em;
    }
    .carrito-producto-text input[type="number"]{
        width: 10%;
        font-size: 0.8em;
    }
    /* Estilos main login ---------------------------------------------- */
    .login-text{
        font-size: 1.25em;
    }
    .login-form form{
        font-size: 0.75em;
    }
    .login-form form input{
        font-size: 0.75em;
        width: 30em;
    }
    .login-form form button{
        width: 21em;
    }
    .login-form p{
        font-size: 0.9em;
    }
    /* Estilos main registro ---------------------------------------------- */
    .registro-text{
        font-size: 1.25em;
    }
    .registro-form form{
        font-size: 0.75em;
    }   
    .registro-form form input{
        font-size: 0.75em;
        width: 30em;
    }
    .registro-form form button{
        width: 21em;
    }
    .registro-form p{
        font-size: 0.9em;
    }
    /* Estilos footer -------------------------------------------------- */
    footer{
        height: 50rem;
    }
    #contenido-footer{
        display: flex;
        justify-content: center;
    }
    #contenido-footer ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        flex-wrap: wrap;
    }
}

